.boards{
  clear: $b;
/*   background-color: white; */
  margin-top: 0%;
  list-style-type: none;
  padding: 0;
  width: $f;
  li{
    float: left;
    width: 8%;
    height: 200px;
    margin-left: 0;
    margin-right: 2%;
    position: relative;
  }

  li:hover{
    -webkit-animation:.8s rotateRight infinite linear;
  }
}
