.menubar{
  list-style-type: none;
  float: left;
  font-size: 10px;
  border: none;
  width: 105%;
  margin: 0;
  padding: 0;
  li{
    width: 22%;
    margin-right: 2%;
    background-color: red;
    border: 1px solid black;
  }
}
