.boards {
  clear: both;
  /*   background-color: white; */
  margin-top: 0%;
  list-style-type: none;
  padding: 0;
  width: 100%; }
  .boards li {
    float: left;
    width: 8%;
    height: 200px;
    margin-left: 0;
    margin-right: 2%;
    position: relative; }
  .boards li:hover {
    -webkit-animation: .8s rotateRight infinite linear; }

/* styling for the circles under the header image */
.circles {
  margin: 0 0% 0 35%; }
  .circles ul {
    list-style-type: none;
    color: white; }
  .circles li {
    float: left;
    margin-right: 3%;
    border-radius: 100%;
    border: .5 solid black;
    box-shadow: 0px 5px 2px grey; }

/* This section is the styling for the footer block with the contact us form*/
footer {
  background-color: white;
  height: 300px;
  clear: both;
  width: 60%;
  margin: 5% 20% 0 20%;
  border: 1px solid white;
  position: relative; }
  footer form {
    float: left;
    margin-top: 10%;
    margin-left: 5%; }
  footer ul {
    list-style-type: none; }
  footer li {
    float: left;
    color: #f9f9f9;
    margin-right: 5%;
    background-color: #6F6D6D;
    width: 15px; }
  footer a {
    display: none;
    margin-left: 30%; }

header {
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 20% 0 20%;
  /* styling the social media link images*/ }
  header ul {
    list-style-type: none;
    float: right;
    padding-left: 2%;
    border-left: 1px dotted white; }
  header li {
    float: left;
    margin-right: 10px;
    /*   border: 1px solid green; */
    width: 30px;
    text-align: center;
    color: white;
    /* position:relative; */ }
  header .facebook {
    background-color: blue; }
  header .rss {
    background-color: orange; }
  header .twitter {
    background-color: #83b9d5; }
  header .youtube {
    background-color: red; }

.menubar {
  list-style-type: none;
  float: left;
  font-size: 10px;
  border: none;
  width: 105%;
  margin: 0;
  padding: 0; }
  .menubar li {
    width: 22%;
    margin-right: 2%;
    background-color: red;
    border: 1px solid black; }

/*this will host the styling for the skateboarders tag*/
.sidetag {
  clear: both;
  /*   border: 1px solid blue; */
  width: 29%;
  margin-left: -25%;
  margin-top: 60px;
  position: absolute;
  margin-left: -30%; }
  .sidetag ul {
    list-style-type: none; }
  .sidetag li {
    float: left; }
  .sidetag p {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 20px;
    border-color: transparent transparent transparent #ff0000;
    margin: 0; }

/*This will be the stying for the boxes hosting the stories*/
.storyBoxes {
  clear: both;
  margin-top: 4%; }
  .storyBoxes ul {
    list-style-type: none;
    padding: 0;
    text-color: black;
    margin-top: 10%;
    width: 105%; }
  .storyBoxes li {
    float: left;
    width: 30%;
    height: 200px;
    margin-left: 0;
    background-color: white;
    border: 1 solid black;
    margin-right: 2%;
    padding: 3px;
    position: relative;
    box-shadow: 0px 5px 2px grey; }
  .storyBoxes h1 {
    color: grey;
    font-size: 16px;
    height: auto; }
  .storyBoxes p {
    color: grey;
    font-size: 9px; }
  .storyBoxes span {
    color: lightgrey;
    font-size: 10px; }
  .storyBoxes a {
    color: red;
    font-size: 10px;
    position: absolute;
    left: 50px;
    bottom: 10px; }

body {
  /*this places the background image on the page*/
  background: url("bg.jpg") center center no-repeat fixed;
  background-size: cover; }

.subscribe {
  float: right;
  margin-right: 3%;
  margin-top: 1%;
  display: inline-block;
  font-size: xx-small;
  color: white; }

/*Top menu bar styling*/
.dropMenu {
  display: none;
  color: red; }

.menu {
  clear: both; }

.sk8bTitle2 {
  display: none; }

/* Header Image Log block styling */
.headerImage {
  border: 5px solid white;
  clear: both;
  margin-top: 10%;
  height: 200px;
  background: url("top-image.png") no-repeat;
  background-size: cover;
  position: relative; }

.gImage {
  width: 100%;
  height: 100%;
  z-index: 3; }

.pLogo {
  height: 150px;
  position: absolute;
  bottom: 20px;
  left: 10px; }

/*standard section styling for the content sections*/
section {
  clear: both;
  width: 60%;
  margin: 5% 20% 0 20%;
  border: 1px solid white;
  position: relative; }

/*this will host the styling for the skateboarders tag*/
.title {
  width: auto;
  font-size: 7px;
  color: white;
  height: 50px;
  background-color: #ff0000;
  vertical-align: middle; }
  .title h2 {
    margin-top: 20%; }

/* This section will begin styling the SK8ER images */
.sk8Img {
  position: relative;
  margin-top: 5%; }
  .sk8Img img {
    width: 100%;
    height: 100%; }

.sk8Img1 {
  float: left;
  /*   border: 1px solid red; */
  width: 66%;
  /*   background-color:white; */
  height: 280px; }

.sk8Img2 {
  float: right;
  /* border: 1px solid red; */
  width: 32%;
  /* background-color:white; */
  height: 280px; }

.sk8Img3 {
  display: none; }

.sk8Img4 {
  display: none; }

.sk84 {
  width: 49%;
  height: 140px;
  /*   border: 1px solid red; */
  float: left;
  position: relative; }
  .sk84 h1 {
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -50%; }

.sk83 {
  width: 49%;
  height: 140px;
  /* border:1px solid red; */
  float: right;
  position: relative; }
  .sk83 h1 {
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -50%; }

.sk81 {
  width: 100%;
  height: 135px;
  /*   border:1px solid red; */
  position: relative;
  margin-top: 1%;
  display: inline-block; }
  .sk81 h1 {
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -20%;
    margin-left: 20%; }

.sk82 {
  width: 100%;
  height: 280px;
  /*   border:1px solid white; */
  position: relative; }
  .sk82 h1 {
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -60%; }

/*This section will style the skateboards on the page.*/
.boardSection {
  clear: both;
  margin-top: 30%;
  background-color: white;
  height: 260px; }

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotateY(0deg);
    -webkit-transform-origin: 50% 50%; }
  100% {
    -webkit-transform: rotateY(360deg); } }

/* This section is the styling for the footer block with the contact us form*/
.text {
  width: 50%;
  float: left;
  margin-left: 5%; }

.fname {
  width: 110%; }

.femail {
  width: 110%;
  margin-top: 5%; }

.message {
  width: 110%;
  height: 75px;
  margin-top: 5%; }

.submit {
  background-color: red;
  color: white;
  margin-top: 5%;
  margin-left: 35%;
  width: 75%; }

/* Start styling responsiveness */
@media screen and (max-width: 996px) {
  header {
    /* border: 2px solid red; */
    width: 100%;
    margin: 0; }
    header li {
      width: 50px;
      height: 50px; }
  .icon-facebook {
    font-size: 50px; }
  .icon-rss {
    font-size: 50px; }
  .icon-twitter {
    font-size: 50px; }
  .icon-youtube-sign {
    font-size: 50px; }
  .subscribe {
    font-size: 20px;
    margin-top: 0;
    display: none; }
  .dropMenu {
    display: block;
    width: 300px;
    font-size: 25px; }
  .menubar {
    display: none; }
  .headerImage {
    margin-top: 5%; }
  .circles {
    display: none; }
  section {
    width: 100%;
    margin: 0; }
  .storyBoxes li {
    float: none;
    width: 100%;
    padding: 0px;
    height: 180px; }
  .storyBoxes h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 5%; }
  .storyBoxes p {
    color: grey;
    font-size: 16px;
    margin-top: 2%; }
  .storyBoxes span {
    color: lightgrey;
    font-size: 16px; }
  .storyBoxes a {
    left: 40%;
    font-size: 16px; }
  .boardSection {
    margin-top: 5%; }
  .sk8Img1 {
    display: none; }
  .sk8Img2 {
    display: none; }
  .sk8Img3 {
    display: inline-block;
    width: 48%; }
    .sk8Img3 img {
      width: 100%;
      height: 200px; }
    .sk8Img3 h1 {
      color: white; }
  .sk8Img4 {
    display: inline-block;
    width: 48%;
    margin-top: -64%; }
    .sk8Img4 img {
      width: 100%;
      height: 200px;
      position: relative; }
    .sk8Img4 h1 {
      color: white; }
  footer {
    width: 100%;
    position: relative;
    margin-left: 0;
    height: 550px; }
    footer li {
      width: 45px; }
    footer form {
      margin-top: 20%; } }
