body {           /*this places the background image on the page*/
  background: url('bg.jpg') center center no-repeat fixed;

  background-size: cover;
}

header{
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 20% 0 20%;
}

.subscribe{
  float: right;
  margin-right: 3%;
  margin-top: 1%;
  display: inline-block;
  font-size: xx-small;
  color: white;

}
/* styling the social media link images*/

header ul{
  list-style-type: none;
  float: right;
  padding-left: 2%;
  border-left: 1px dotted white;

}

header li{
  float: left;
  margin-right: 10px;
/*   border: 1px solid green; */
  width: 30px;
  text-align: center;
  color: white;
  /* position:relative; */
}

header .facebook {
  background-color: blue;
}
header .rss{
  background-color: orange;
}
header .twitter{
  background-color: #83b9d5;
}
header .youtube{
  background-color: red;
}

/*Top menu bar styling*/
.dropMenu{
  display:none;
  color:red;
}
.menu{
  clear: both;
}
.menubar{
  list-style-type: none;
  float: left;
  font-size: 10px;
  border: none;
  width: 105%;
  margin: 0;
  padding: 0;
}

.menubar li{
  width: 22%;
  margin-right: 2%;
  background-color: red;
  border: 1px solid black;
}
.sk8bTitle2{
  display: none;
}

/* Header Image Log block styling */

.headerImage {
  border: 5px solid white;
  clear: both;
  margin-top: 10%;
  height: 200px;
  background: url('top-image.png') no-repeat;
  background-size: cover;
  position: relative;
}

.gImage{
  width: 100%;
  height: 100%;
  z-index: 3;
}

.pLogo{
  height: 150px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}

/*standard section styling for the content sections*/
section{
  clear: both;
  width: 60%;
  margin: 5% 20% 0 20%;
  border: 1px solid white;
  position: relative;
}

/* styling for the circles under the header image */
.circles{
  margin: 0 0% 0 35%;
}

.circles ul{
  list-style-type: none;
  color: white;
}

.circles li{
  float: left;
  margin-right: 3%;
  border-radius: 100%;
  border: .5 solid black;
  box-shadow: 0px 5px 2px grey;
}

/*This will be the stying for the boxes hosting the stories*/
.storyBoxes{
  clear: both;
  margin-top: 4%;
}
.storyBoxes ul{
  list-style-type: none;
  padding: 0;
  text-color: black;
  margin-top: 10%;
  width: 105%
}

.storyBoxes li{
  float: left;
  width: 30%;
  height: 200px;
  margin-left: 0;
  background-color: white;
  border: 1 solid black;
  margin-right: 2%;
  padding: 3px;
  position: relative;
  box-shadow: 0px 5px 2px grey;
}

.storyBoxes h1{
  color: grey;
  font-size: 16px;
  height: auto;
}


.storyBoxes p{
  color: grey;
  font-size: 9px;
}

.storyBoxes span{
  color: lightgrey;
  font-size: 10px;
}

.storyBoxes a{
  color: red;
  font-size: 10px;
  position: absolute;
  left: 50px;
  bottom: 10px;
}

/*this will host the styling for the skateboarders tag*/
.sidetag{
  clear: both;
/*   border: 1px solid blue; */
  width: 29%;
  margin-left: -25%;
  margin-top: 60px;
  position: absolute;
  margin-left: -30%;

}

.sidetag ul{
  list-style-type: none;
}
.sidetag li{
  float: left;
}


.title{
  width: auto;
  font-size: 7px;
  color: white;
  height: 50px;
  background-color: #ff0000;
  vertical-align: middle;
}

.title h2{
  margin-top: 20%;
}
.sidetag p{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 20px;
  border-color: transparent transparent transparent #ff0000;
  margin: 0;
}

/* This section will begin styling the SK8ER images */

.sk8Img{
  position: relative;
  margin-top: 5%;
}

.sk8Img img{
  width: 100%;
  height: 100%;
}

.sk84{

  width: 30%;
  height: 160px;
  border: 1px solid white;
  float: left;
  margin-right: 2%;
  position: relative;

}

.sk84 h1{
  color: white;
  text-align: center;
  margin-top: -60%;
}

.sk83{
  width: 30%;
  height: 160px;
  border: 1px solid white;
  float: left;
  position:relative;
}

.sk83 h1{
  color: white;
  text-align: center;
  margin-top: -60%;
}
.sk82{
  width: 36%;
  height: 320px;
  border: 1px solid white;
  float: right;
  position: relative;
}

.sk82 h1{
  color: white;
  text-align: center;
  margin-top: -60%;
}

.sk81{
  width: 62%;
  float: left;
  height: 146px;
  border: 1px solid white;
  clear: right;
  margin-top: -24%;
}

.sk81 h1{
  color: white;
  text-align: center;
  margin-top: -25%;
}

/*This section will style the skateboards on the page.*/

.boardSection {
  clear: both;
  margin-top: 4%
}
.boards{
  clear: both;
/*   background-color: white; */
  margin-top: 10%;
  list-style-type: none;
  padding: 0;
  width: 100%
}

.boards li{
  float: left;
  width: 8%;
  height: 200px;
  margin-left: 0;
  margin-right: 2%;
  position: relative;
}

.boards li:hover{
  -webkit-animation:.8s rotateRight infinite linear;
}


@-webkit-keyframes rotateRight{
    0%{ -webkit-transform:rotateY(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotateY(360deg); }
}

/* This section is the styling for the footer block with the contact us form*/
footer{
  background-color: white;
  height: 300px;
  clear: both;
  width: 60%;
  margin: 35% 20% 0 20%;
  border: 1px solid white;
  position: relative;

}

.text{
  width: 50%;
  float:left;
  margin-left: 5%;
}

footer form{
  float:left;
  margin-top: 10%;
  margin-left: 5%;
}

.fname{
  width:110%;
}

.femail{
  width:110%;
  margin-top:5%;
}
.message{
  width:110%;
  height:75px;
  margin-top: 5%;
}

.submit{
  background-color:red;
  color: white;
  margin-top: 5%;
  margin-left:35%;
  width: 75%;
}

footer ul{
  list-style-type: none;
}
footer li{
  float: left;
  color:#f9f9f9;
  margin-right:5%;
  background-color:#6F6D6D;
  width: 15px;
}

footer a{
  display:none;
  margin-left: 30%;
}

/*Start styling responsiveness*/

@media screen and (max-width: 990px) {

    footer ul{
      margin-top: -5%;
    }

}

@media screen and (max-width: 945px) {

    footer ul{
      display:none;
    }

}

@media screen and (max-width: 894px) {

    .sidetag{
      display: none;
    }

}

@media screen and (max-width: 894px) {

    .sidetag{
      display: none;
    }

    footer{
      margin-top: 40%;
    }

    .sk81 {
      margin-top: -29%;
    }
}

@media screen and (max-width: 864px) {
    .text p{
      font-size:14px;
    }
    .storyBoxes li{
      height:230px;
    }

}

@media screen and (max-width: 795px) {
    .sk8bTitle{
      display:none;
    }
    .sk8bTitle2{
      display: block;
    }
    .fname{
      width:80%;
    }

    .femail{
      width:80%;
    }
    .message{
      width:80%;
    }
    .submit{
      margin-left:0%;
    }
    .sk81 {
      margin-top: -32%;
    }
}

@media screen and (max-width: 775px) {
    footer{
      margin-top: 45%;
    }

}

@media screen and (max-width: 736px) {
  .storyBoxes li{
    height: 250px;
  }

  footer form{
    display:none;
  }
  .contactLink{
    display:block;
  }

  footer{
    height: 240px;
  }
  .text{
    width: 80%;
  }

  footer a{
    display:block;
  }

}

@media screen and (max-width: 714px) {
  .storyBoxes h1{
    font-size: 10px;
  }
  .storyBoxes li{
    height: 55px;
    width:28%;
  }
  .storyBoxes p{
    display:none;
  }

  .storyBoxes span{
    display:none;
  }

  .sk84{

    width: 30%;
    height: 80px;
  }

  .sk84 h1{
    margin-top: -30%;
    font-size: 14px;
  }

  .sk83{
    width: 30%;
    height: 80px;
  }

  .sk83 h1{
    font-size: 14px;
    margin-top: -30%;
  }
  .sk82{
    width: 36%;
    height: 160px;
  }

  .sk82 h1{
    font-size: 14px;
    margin-top: -30%;
  }

  .sk81{
    margin-top: -18%;
    width: 62%;
    height: 76px;
  }

  .sk81 h1{
    font-size: 14px;
    margin-top: -15%;
  }

  .boards img{
      height: 150px;
  }

  footer{
    margin-top: -80%;
    height: 80px;
  }
  footer h4{
    text-align: center;
  }
  footer p{
    display:none;
  }
  footer a{
    text-align: center;
    margin-left:0;
  }
  .storyBoxes li{
    height: 60px;
  }

}

@media screen and (max-width: 707px) {
  .menubar{
    display:none;
  }
  .dropMenu{
    display:block;
  }

}

@media screen and (max-width: 640px) {
  .sk81{
    margin-top: -20%;
  }
  .circles {
  display:none;
  }
  .storyBoxes li{
    height:80px;
  }
}

@media screen and (max-width: 590px) {
  .sk81{
    margin-top: -22%;
  }
  .storyBoxes li{
    height:90px;
  }
  .sk84 h1{
    margin-top: -47%;
  }
  .sk83 h1{
    margin-top: -47%;
  }
  .sk82 h1{
    margin-top: -47%;
  }

}

/* @media screen and (max-width: 518px) {
  .sk81{
    margin-top: -24%;
  }

} */

/* @media screen and (max-width: 518px) {
  footer{
    height: 90px;
  }
  footer a{
    margin-top: -8%;
  }
  .storyBoxes li{
    height: 100px;
  }

} */


@media screen and (max-width: 500px) {
  .sidetag{
    display:block;
    margin-top: 0%;
  }
  .sidetag p{
    display:none;
  }
  .sk8Img{
    margin-top: 27%;
  }
  .sidetag li{
    margin-left:109%;
    width:645%;
  }
  .sidetag h2{
    margin-top: 10%;
    margin-left:30%;
  }
  .sk8Img img{
    display:none;
  }
  .sk8Img h1{
    color: black;
  }
  .sk84 h1{
    margin-top: 0%;
  }
  .sk83 h1{
    margin-top: 0%;
  }
  .sk82 h1{
    margin-top: 0%;
  }
  .sk81 h1{
    margin-top: 0%;
  }
  .sk84{
    background: white;
    float: none;
    height:30px;
    width:100%;
    margin-top:35%;
  }
  .sk83{
    background: white;
    float:none;
    height: 30px;
    width: 100%;
    margin-top:5%;
  }
  .sk82{
    background:white;
    float:none;
    height: 30px;
    width: 100%;
    margin-top:5%;
  }
  .sk81{
    background:white;
    float:none;
    height: 30px;
    width: 100%;
    margin-top: 0;
    margin-top:5%;
  }
  .storyBoxes a{
    top: 79%;
    margin-left:-35%;
  }
  footer{
    height:100px;
  }

  header li{
    width: 15px;
  }
  .subscribe{
    font-size: 8px;
    margin-top: 4%;
  }
  .dropMenu{
    margin-left: 40%;
  }
  .headerImage{
    background-image: none;
    border: none;
  }
  .pLogo{
    left: -20px;
  }
  .storyBoxes ul{
    width:100%;
  }
  .storyBoxes li{
    float: none;
    width: 100%;
    margin-top: 5%;
    height: 115px;
  }
  .storyBoxes p{
    display:block;
  }
  .storyBoxes a{
    top:85%;
    left:60%;
  }
}


@media screen and (max-width: 360px) {

  .sidetag{
    display:block;
    margin-top: -10%;
  }
  .sidetag p{
    display:none;
  }
  .sk8Img{
    margin-top: 27%;
  }
  .sidetag li{
    margin-left:115%;
    width:990%;
  }
  .sidetag h2{
    margin-top: 10%;
    margin-left:30%;
  }
  .sk8Img img{
    display:none;
  }
  .sk8Img h1{
    color: black;
  }
  .sk84 h1{
    margin-top: 0%;
  }
  .sk83 h1{
    margin-top: 0%;
  }
  .sk82 h1{
    margin-top: 0%;
  }
  .sk81 h1{
    margin-top: 0%;
  }
  .sk84{
    background: white;
    float: none;
    height:30px;
    width:100%;
    margin-top:5%;
  }
  .sk83{
    background: white;
    float:none;
    height: 30px;
    width: 100%;
    margin-top:5%;
  }
  .sk82{
    background:white;
    float:none;
    height: 30px;
    width: 100%;
    margin-top:5%;
  }
  .sk81{
    background:white;
    float:none;
    height: 30px;
    width: 100%;
    margin-top: 0;
    margin-top:5%;
  }
}
